<%= form_for(@employee) do |f| %>

  <div class="field">
    <%= f.label Employee.human_attribute_name(:firstname) %><br />
    <%= f.text_field:firstname %>
  </div>
  <div class="field">
    <%= f.label Employee.human_attribute_name(:lastname) %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label Employee.human_attribute_name(:secondname) %><br />
    <%= f.text_field :secondname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
