
<p>
  <b><%= Employee.human_attribute_name(:firstname) %>:</b>
  <%= @employee.firstname %>
</p>

<p>
  <b><%= Employee.human_attribute_name(:lastname) %>:</b>
  <%= @employee.lastname %>
</p>

<p>
  <b><%= Employee.human_attribute_name(:secondname) %>:</b>
  <%= @employee.secondname %>
</p>


<%= link_to 'Редактировать', edit_employee_path(@employee) %> |
<%= link_to 'Назад', employees_path %>
