<%= form_for(@tour) do |f| %>

  <div class="field">
    <%= f.label Tour.human_attribute_name(:registr) %><br />
    <%= f.text_field :registr %>
  </div>
  <div class="field">
    <%= f.label Tour.human_attribute_name(:date_of_departure) %><br />
    <%= f.date_select :date_of_departure %>
  </div>
  <div class="field">
    <%= f.label Tour.human_attribute_name(:client) %><br />
    <%= f.text_field :client %>
  </div>
  
  <div class="field">
    <%= f.label Tour.human_attribute_name(:trend) %><br />
    <%= collection_select(:tour, :trend_id, Trend.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label Tour.human_attribute_name(:price) %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label Tour.human_attribute_name(:employee) %><br />
    <%= collection_select(:tour, :employee_id, Employee.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
